/* Reset body */
body {
  margin: 0;
  overflow-wrap: break-word;
}

/* Do not break Korean words */
:lang(ko) {
  word-break: keep-all;
}

/* Reset img */
img {
  max-width: 100%;
  height: auto;
}

/* CSS Reset by [class] - Samsung Internet does supports it.(2021-07) */
[class] {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class]:where(button) {
  cursor: pointer;
}

[class]::before,
[class]::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class]:where(ol, ul) {
  list-style: none;
}

[class]:where(button, fieldset, iframe, input, select, textarea) {
  border: 0;
}

[class]:where(button, dialog, input, mark, meter, progress) {
  background-color: transparent;
}

[class]:where(table) {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

[class]:where(button, input, meter, progress, select, textarea) {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

:root {
  --bg-1:#181a20;
  --bd-1:#282a2b;
  --footer-height:vw(129);
}

body {
  background-color: var(--bg-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 100vh;
}

.main {
  min-height: var(--footer-height);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer {
  margin-top: auto;
  border-top: 1px solid var(--bd-1);
  background-color: var(--bg-1);
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  padding: 6.25vw 2rem 7.34375vw;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__item.home {
  background-image: url(../img/nav_home_off.png);
  background-size: 6.875vw 6.5625vw;
}

.footer__item.home.on {
  background-image: url(../img/nav_home_on.png);
}

.footer__item.app {
  background-image: url(../img/nav_app_off.png);
  background-size: 6.25vw 6.5625vw;
}

.footer__item.app.on {
  background-image: url(../img/nav_app_on.png);
}

.footer__item.dao {
  background-image: url(../img/nav_dao_off.png);
  background-size: 6.5625vw 6.5625vw;
}

.footer__item.dao.on {
  background-image: url(../img/nav_dao_on.png);
}

.footer__item.swap {
  background-image: url(../img/nav_swap_off.png);
  background-size: 7.5vw 6.5625vw;
}

.footer__item.swap.on {
  background-image: url(../img/nav_swap_on.png);
}

.footer__item.wallet {
  background-image: url(../img/nav_wallet_off.png);
  background-size: 7.5vw 6.40625vw;
}

.footer__item.wallet.on {
  background-image: url(../img/nav_wallet_on.png);
}
