/* Reset body */
body {
  margin: 0;
  overflow-wrap: break-word;
}

/* Do not break Korean words */
:lang(ko) {
  word-break: keep-all;
}

/* Reset img */
img {
  max-width: 100%;
  height: auto;
}

/* CSS Reset by [class] - Samsung Internet does supports it.(2021-07) */
[class] {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class]:where(button) {
  cursor: pointer;
}

[class]::before,
[class]::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class]:where(ol, ul) {
  list-style: none;
}

[class]:where(button, fieldset, iframe, input, select, textarea) {
  border: 0;
}

[class]:where(button, dialog, input, mark, meter, progress) {
  background-color: transparent;
}

[class]:where(table) {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

[class]:where(button, input, meter, progress, select, textarea) {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

:root {
  --bg-1:#181a20;
  --bg-2:#0b0e11;
  --bg-3:#000;
  --bd-1:#282a2b;
  --footer-height:vw(130);
  --color-1:#fff;
  --color-2:#5eead2;
  --color-3:#313237;
  --color-4:#b7bdc6;
  --color-5:#181a20;
  --color-6:#e5b700;
}

body {
  background-color: var(--bg-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 100vh;
  font-family: Noto Sans KR;
}

.main {
  padding: 12.5vw 3.125vw 3.125vw;
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100vw;
}

.main__titWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0.78125vw;
}

.main__tit {
  font-size: 5.15625vw;
  color: var(--color-1);
  font-weight: 400;
}

.main__h2 {
  font-size: 4.0625vw;
  color: var(--color-1);
  font-weight: 400;
}

.main__viewAll {
  font-size: 2.8125vw;
  color: var(--color-2);
  text-decoration: none;
}

.main__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25vw;
  margin-top: 7.03125vw;
}

.main__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 9.375vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top-left-radius: 0.9375vw;
  border-top-right-radius: 0.9375vw;
  border: 1px solid var(--color-3);
  font-size: 3.75vw;
  color: var(--color-4);
  text-decoration: none;
}

.main__link--on {
  font-weight: bold;
  color: var(--color-5);
  border-color: var(--color-2);
  background-color: var(--color-2);
}

.main__tabContWrap {
  margin-top: -0.625vw;
  border-radius: 0.9375vw;
  border: 1px solid var(--color-3);
  background-color: var(--bg-2);
  padding: 6.25vw 3.125vw 3.90625vw;
  z-index: 1;
  position: relative;
}

.main__tabCont {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 3.4375vw;
}

.main__tabCont[data-tab-visible="visible"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__contWrap {
  border-radius: 0.9375vw;
  background-color: var(--bg-2);
  padding: 6.25vw 3.125vw 3.90625vw;
  margin-top: 3.125vw;
}

.contArticle__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.75vw;
  width: 100%;
  text-decoration: none;
}

.contArticle__imgWrap {
  display: block;
  width: 31.40625vw;
  aspect-ratio: 201/128;
}

.contArticle__imgWrap img {
  width: 100%;
}

.contArticle__txt {
  color: var(--color-4);
  font-size: 3.125vw;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 1.5625vw;
  line-height: 1.6;
}

.appsWrap {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  margin-top: 5.46875vw;
}

.appsWrap__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 1.875vw;
}

.appsWrap__item {
  scroll-snap-align: start;
  width: 17.1875vw;
}

.appsWrap__t1 {
  font-size: 3.125vw;
  color: var(--color-4);
  padding-left: 1.25vw;
}

.appsWrap__t2 {
  font-size: 3.125vw;
  color: var(--color-6);
  padding-left: 1.25vw;
}

.promotionWrap {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 5.46875vw;
}

.promotionWrap__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.promotionWrap__item {
  scroll-snap-align: start;
  width: 53.125vw;
  border: 1px solid var(--bd-1);
}

.promotionWrap__item a {
  display: block;
  font-size: 0;
}

.promotionWrap__item img {
  aspect-ratio: 340/213;
}

.sub {
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub__dapps {
  background-color: var(--bg-3);
  padding: 12.5vw 6.25vw 6.25vw;
}

.sub__tit {
  font-size: 4.0625vw;
  color: var(--color-1);
  font-weight: 400;
}

.sub__recommdendApps {
  padding: 8.59375vw 6.25vw 7.03125vw;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.dappsWrap {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  margin-top: 5.46875vw;
}

.dappsWrap__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.34375vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.dappsWrap__item {
  scroll-snap-align: start;
  width: 53.125vw;
  font-size: 0;
}

.dappsWrap__item img {
  width: 100%;
}

.recommendWrap {
  margin-top: 7.03125vw;
}

.recommendWrap__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.125vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.recommendWrap__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommendWrap__item img {
  width: 17.1875vw;
  height: 17.1875vw;
  margin-right: 4.6875vw;
}

.recommendWrap__item div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.5625vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recommendWrap__t1 {
  font-size: 3.125vw;
  color: var(--color-6);
}

.recommendWrap__t2 {
  margin-top: 1.5625vw;
  font-size: 3.125vw;
  color: var(--color-4);
}

.footer {
  margin-top: auto;
  border-top: 1px solid var(--bd-1);
  background-color: var(--bg-1);
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  padding: 6.25vw 2rem 7.34375vw;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__item.home {
  background-image: url(../img/nav_home_off.png);
  background-size: 6.875vw 6.5625vw;
}

.footer__item.home.on {
  background-image: url(../img/nav_home_on.png);
}

.footer__item.app {
  background-image: url(../img/nav_app_off.png);
  background-size: 6.25vw 6.5625vw;
}

.footer__item.app.on {
  background-image: url(../img/nav_app_on.png);
}

.footer__item.dao {
  background-image: url(../img/nav_dao_off.png);
  background-size: 6.5625vw 6.5625vw;
}

.footer__item.dao.on {
  background-image: url(../img/nav_dao_on.png);
}

.footer__item.swap {
  background-image: url(../img/nav_swap_off.png);
  background-size: 7.5vw 6.5625vw;
}

.footer__item.swap.on {
  background-image: url(../img/nav_swap_on.png);
}

.footer__item.wallet {
  background-image: url(../img/nav_wallet_off.png);
  background-size: 7.5vw 6.40625vw;
}

.footer__item.wallet.on {
  background-image: url(../img/nav_wallet_on.png);
}
